.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    text-transform: capitalize;
    min-height: 100px;
    padding: 40px 0;
    
}

.grid-revetements {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    gap: 60px;
}

.post-type-archive article {
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 13, 70);
    padding: 40px;
    color: white;
    gap: 20px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
   
}

.post-type-archive article img {
    height: 300px;
    object-fit: cover;
    transition: 0.5s;
}
.post-type-archive article img:hover {
    height: 320px;
    object-fit: cover;
}
.post-type-archive article h2 a {
    color: white;
    text-decoration: none;
    font-size: 30px;
   
}
